#register-page {
  font-family: Arial, Helvetica, sans-serif;
}

#register-page h1 {
  font-size: 34px;
}

.wrapper-form {
  width: 370px;
}

.close-icon {
  position: relative;
  left: 40%;
  bottom: 10%;
}

.btn-sign {
  background-color: var(--blue-primary);
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  padding: 8px 12px;
  border-radius: 2px;
  &:hover {
    opacity: 90%;
  }
}

#register-page label {
  margin-top: 1rem;
}
#register-page input::placeholder {
  color: #a5a5a5;
}

#register-page .img-fluid {
  height: 100vh;
  width: 100%;
}

#register-page .bottom-content a {
  color: var(--blue-primary);
  border-bottom: 2px solid;

  &:hover {
    opacity: 80%;
  }
}
#register-page a {
  color: black;

  &:hover {
    opacity: 60%;
  }
}

@media screen and (max-width: 1000px) {
  .register-right {
    display: none;
  }

  .left-register {
    width: 100%;
    height: 100vh;
  }

  .wrapper-form {
    width: 300px;
  }
}

.spinner-border {
  width: 1rem;
  height: 1rem;
}
