#order-payment {
  font-family: Arial, Helvetica, sans-serif;
}

#order-payment .row {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  margin: 0;
  padding: 0;
}

#order-payment .content-left {
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  height: 100%;
  min-width: 330px;
}

#order-payment span {
  font-size: 12px;
  padding-right: 2px;
}

#order-payment h6 {
  color: #8a8a8a;
  font-size: 10px;
  font-weight: 700;
  line-height: 14px;
}

#order-payment .content-left p {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  margin: 0;
  padding-bottom: 16px;
}

#order-payment p.include {
  color: #5cb85f;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  padding-bottom: 16px;
}

#order-payment .content-card-top p:first-of-type {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  padding-bottom: 3px;
}

#order-payment .frame-card {
  border-radius: 8px;
  background: white;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 24px;
  max-width: 405px;
  min-width: 100%;
}

#order-payment .frame-card p {
  font-size: 14px;
}

#order-payment .accordion-button {
  box-shadow: none;
}

.content-card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.button {
  display: flex;
  width: 100%;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 2px;
  background: #5cb85f;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.button:hover {
  background: #47964a;
}

.button:disabled {
  background: #35b0a733;
}

#order-payment .accordion-button::after {
  position: absolute;
  top: 0;
  left: 15%;
}

.banks .card {
  width: 87px;
}

.banks .border-2 {
  width: 30%;
}
